*{
    margin: 0;
}
body{
    height: 2000px;
}
.header{
    margin: 0 5%;
    width: 90%;
    height: 60px;
    background-color:  rgb(219, 219, 235);
    position: fixed;
    border-radius: 10px;
    z-index: 4;
    top: 0;
    overflow: auto;
    
}
.img{
   
    width: 100px;
    height: 50px;
    margin: 5px 30px;
    float: left;
     
}

.header ul{
    float: right;
    list-style: none;
    margin: 15px;
    margin-right: 50px;
}
.header ul li{

    display: inline-block;
    margin-right: 20px;
    list-style: none;
    margin-top: 7px;
    
}
.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: rgb(178, 178, 213);
    padding: 5px 10px;
   
}
.header ul li a:hover{
    background-color:  rgb(255, 255, 255);
    color: rgb(28, 28, 28);
    border: 1px solid rgb(79, 79, 129);
}
.cat{
   
    width: 200px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 100px;
    font-size: large;
    

}
.hr{
    width: 50px;
    height: 1px;
    background-color: rgb(136, 131, 207);
    margin-left: 80px;
    margin-top: 10px;
}
.cont{
   
    width: 90%;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 5%;
    background-color: rgb(242, 242, 247);
     
    overflow: auto;
}
.cont div{
    float: left;
    width: 22%;
    height: 400px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: rgb(234, 234, 243);
    margin-top: 70px   ;
    margin-left: 80px;
    text-align: center;
    border: 2px solid rgb(187, 187, 209);
    
}




.cont div .nested{
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-top: 15px;
    margin-bottom: 20px;
}
.h{
    width: 50px;
    height: 1px;
    background-color: rgb(136, 131, 207);
  margin: 10px 100px;
}

.hr2{
    
    margin-top: 130px;
    margin-left: 50px;
    width: 150px;
    height: 1px;
    background-color: rgb(150, 150, 174);
}
.hr3{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left:  25px;
    width: 200px;
    height: 1px;
    background-color: rgb(122, 122, 202);
}
.but{
width: 80px;
height: 40px;
background-color:rgb(170, 170, 218);
margin: 15px 0;
border: 0;
color: white;
font-size: 16px;
}

.but:hover{
    background-color:  rgb(255, 255, 255);
    color: rgb(28, 28, 28);
    border: 1px solid rgb(79, 79, 129);
}


